{% extends "base.html" %}

{% block title %}
History
{% endblock %}

{% block content %}
<!-- section02-start -->
<section class="section02">
  <div class="hairstyle Our">
    <div class="hairstyle__content Our__content _container">
      <div class="hairstyle__body Our__body">
        <div class="hairstyle__title Our__title">
          Our <span>History</span>
        </div>
        <div class="hairstyle__text Our__text">
          <p>
            Founded in 1978, The Gents' Den Barbershop has been a cornerstone of classic grooming. With skilled barbers
            and a dedication to timeless techniques, we offer a tailored experience for every gentleman. As we evolve
            and embrace modern styles, our commitment to quality remains unwavering. Join us and become a part of our
            storied legacy in the art of grooming. Welcome to The Gents' Den Barbershop.
          </p>
        </div>
      </div>
      <div class="hairstyle__cover Our__cover">
        <img src="{{ url_for('static', filename='img/02.jpeg') }}" alt="" />
      </div>
    </div>
    <div class="decor01 _dec" _dec>
      <img src="{{ url_for('static', filename='img/decor/Vector 1.png') }}" alt="" />
    </div>
    <div class="decor02 _dec">
      <img src="{{ url_for('static', filename='img/decor/Vector 2.png') }}" alt="" />
    </div>
  </div>
</section>
<!-- section02-end -->
{% endblock %}