{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="about__title">
    Login to <span>admin</span>
    <br>
    {% if message %}
    {{ message }}
    {% endif %}
</div>

<form method="POST" action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    <div class="form-container">
        <div class="form-group">
            <label for="username" class="form-label">Username:</label>
            {{ form.username(class="form-input", placeholder="Enter your username") }}
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password:</label>
            {{ form.password(class="form-input", placeholder="Enter your password") }}
        </div>
        <button type="submit" class="_btn">Login</button>
    </div>
</form>
{% endblock %}