{% extends "base.html" %}

{% block title %}
Service
{% endblock %}

{% block content %}
<section class="section03">
  <div class="services">
    <div class="services__content _container">
      <div class="services__about">
        <div class="about__title">
          Services We <br />
          <span>Provide</span>
        </div>
      </div>
      <div class="services__cards">
        <div class="cards__items">
          <div class="items__img">
            <img src="{{ url_for('static', filename='img/icons/Group.png') }}" alt="" />
          </div>
          <div class="items__title">Hair Cut</div>
          <div class="items__text">
            At The Gents' Den Barbershop, we take pride in the art of the perfect haircut. Our skilled barbers are
            masters of their craft, trained in the latest techniques while respecting the timeless traditions of
            barbering. From classic taper fades to modern textured cuts, we cater to every gentleman's style and
            preference.
          </div>
        </div>
        <div class="cards__items">
          <div class="items__img">
            <img src="{{ url_for('static', filename='img/icons/electric-razor 1.png') }}" alt="" />
          </div>
          <div class="items__title">Beard Cut</div>
          <div class="items__text">
            At The Gents' Den Barbershop, we understand the significance of a well-groomed beard in defining a
            gentleman's style. Our beard cuts are a testament to our dedication to providing the best grooming services
            for our clients.
          </div>
        </div>
        <div class="cards__items">
          <div class="items__img">
            <img src="{{ url_for('static', filename='img/icons/cleanser 1.png') }}" alt="" />
          </div>
          <div class="items__title">Facial Pack</div>
          <div class="items__text">
            At The Gents' Den Barbershop, we offer a rejuvenating and luxurious facial pack that goes beyond the
            traditional grooming experience. Our facial pack is designed to provide deep nourishment and relaxation,
            leaving you with a refreshed and invigorated appearance.
          </div>
        </div>
      </div>
    </div>
    <div class="decor03 _dec">
      <img src="{{ url_for('static', filename='img/decor/Vector 3.png') }}" alt="" />
    </div>
    <div class="decor04 _dec">
      <img src="{{ url_for('static', filename='img/decor/Vector 4.png') }}" alt="" />
    </div>
  </div>
</section>
{% endblock %}